
.DicePickContainer {
  margin-top: -20px;
}

.DicePick {
  margin: 0 25px 25px;
}

.EndTurn {
  margin-left: 10px;
}

.DiceBox {
  height: 150px;
  margin-left: -68px;
}

.Game {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Logs {
  flex: 1;
  overflow-y: scroll;
  border-top: 1px solid rgba(76, 132, 182, 0.15);
  padding: 10px;
  max-height: 20vh;
  margin-top: auto;
}
