
.DicePickContainer {
  margin-top: -20px;
  padding-left: 38px;
}

.DicePick {
  margin: 25px;
}

.DiceBox {
  height: 150px;
}

.Actions {
  height: 100px;
}

.Game {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Logs {
  flex: 1;
  overflow-y: scroll;
  border-top: 1px solid rgba(76, 132, 182, 0.15);
  padding: 10px;
}
